/* Navbar Styles */
.navbar {
    background-color: #000000;
    padding: 20px 0;
    border-bottom: 1px solid #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar-nav {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar-nav a {
    color: #cccccc;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 16px;
}

.navbar-nav a:hover {
    color: #ffffff;
}




.form-control {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 30px;
    padding: 8px 15px;
    width: 300px;
}

.form-control input {
    background: transparent;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    width: 100%;
    outline: none;
    font-size: 14px;
}

.form-control i {
    color: #ffffff;
    font-size: 16px;
}
.btn{
    color: #ffffff;
    border-color: #0a0a0a;
    background-color: #000000;
}
.btn :hover{
    background-color: #ffffff;
}
